<h3 class="c-home__forms-heading">Forgot password?</h3>
<form class="c-home__forms-form  forget-form" name="forgotPasswordForm">
    <p class="c-home__forgot-password_p">
        A password reset link will be sent to your email to reset your password. If you don't get an email within a few minutes,
        please re-try.
    </p>
    <div class="c-home__forms-group">
        <input class="c-home__forms-input" type="hidden" ng-model="$ctrl.user.tenancyName" autocomplete="off" placeholder="Tenancy Name"
            name="tenancyName" maxlength="80" />
    </div>
    <div class="c-home__forms-group" ng-class="{ 'has-error' : forgotPasswordForm.EmailAddress.$invalid && (!forgotPasswordForm.EmailAddress.$pristine || forgotPasswordForm.EmailAddress.$touched) }">
        <input class="c-home__forms-input" type="email" ng-model="$ctrl.user.emailAddress" autocomplete="off" placeholder="Email Address"
            name="EmailAddress" required maxlength="100">
        <div class="help-block" ng-messages="forgotPasswordForm.EmailAddress.$error" ng-if="forgotPasswordForm.EmailAddress.$invalid && (!forgotPasswordForm.EmailAddress.$pristine || forgotPasswordForm.EmailAddress.$touched)">
            <p ng-message="required">Email address required.</p>
        </div>
    </div>
    <div class="c-home__forms-group c-home-sign-in__buttons">
        <button class="c-home-sign-in__button c-home__forms-button" ng-click="$ctrl.getPasswordResetLink(forgotPasswordForm)" type="submit">Submit</button>
        <a class="c-home-sign-in__recovery" ui-sref="home.sign-in">Back</a>
    </div>
</form>