$icons: (
  sprite: (
    width: 8654px,
    height: 7652px,
    svgPath: 'images/sprite.svg'
  ),
  checkbox-tick: (
    width: 41.629px,
    height: 29.463px,
    backgroundX: 0px,
    backgroundY: 0px),
  dashboard-account-password-icon: (
    width: 54.514px,
    height: 79.242px,
    backgroundX: -42px,
    backgroundY: -30px),
  dashboard-analytics-refresh: (
    width: 32px,
    height: 32px,
    backgroundX: -97px,
    backgroundY: -110px),
  dashboard-contacts-book: (
    width: 79.974px,
    height: 83.711px,
    backgroundX: -129px,
    backgroundY: -142px),
  dashboard-contacts-book-gmail: (
    width: 308.013px,
    height: 223.444px,
    backgroundX: -209px,
    backgroundY: -226px),
  dashboard-contacts-book-outlook: (
    width: 98.04px,
    height: 99.12px,
    backgroundX: -518px,
    backgroundY: -450px),
  dashboard-contacts-book-yahoo: (
    width: 337.12px,
    height: 193.627px,
    backgroundX: -617px,
    backgroundY: -550px),
  dashboard-contacts-csv: (
    width: 23.866px,
    height: 18.885px,
    backgroundX: -955px,
    backgroundY: -744px),
  dashboard-contacts-group-groups: (
    width: 111.975px,
    height: 71.795px,
    backgroundX: -979px,
    backgroundY: -763px),
  dashboard-contacts-icon: (
    width: 76.977px,
    height: 74.986px,
    backgroundX: -1091px,
    backgroundY: -835px),
  dashboard-contacts-individuals: (
    width: 27.315px,
    height: 31.301px,
    backgroundX: -1168px,
    backgroundY: -910px),
  dashboard-groups-icon: (
    width: 128.447px,
    height: 74.986px,
    backgroundX: -1196px,
    backgroundY: -942px),
  dashboard-help-icon: (
    width: 85.734px,
    height: 85.733px,
    backgroundX: -1325px,
    backgroundY: -1017px),
  dashboard-menu-chat: (
    width: 44.168px,
    height: 32.949px,
    backgroundX: -1411px,
    backgroundY: -1103px),
  dashboard-menu-chat-purple: (
    width: 44.168px,
    height: 32.949px,
    backgroundX: -1456px,
    backgroundY: -1136px),
  dashboard-sidebar-analytics: (
    width: 426.667px,
    height: 288px,
    backgroundX: -1501px,
    backgroundY: -1169px),
  dashboard-sidebar-contacts: (
    width: 79.466px,
    height: 91.062px,
    backgroundX: -1928px,
    backgroundY: -1457px),
  dashboard-sidebar-emails: (
    width: 41.411px,
    height: 27.698px,
    backgroundX: -2008px,
    backgroundY: -1549px),
  dashboard-sidebar-groups: (
    width: 111.975px,
    height: 71.795px,
    backgroundX: -2050px,
    backgroundY: -1577px),
  dashboard-sidebar-signatures: (
    width: 41.135px,
    height: 38.845px,
    backgroundX: -2162px,
    backgroundY: -1649px),
  dashboard-sidebar-templates: (
    width: 52.535px,
    height: 41.014px,
    backgroundX: -2204px,
    backgroundY: -1688px),
  dashboard-sidebar-toggle: (
    width: 25px,
    height: 25px,
    backgroundX: -2257px,
    backgroundY: -1730px),
  dashboard-signatures-address: (
    width: 73.781px,
    height: 95.007px,
    backgroundX: -2282px,
    backgroundY: -1755px),
  dashboard-signatures-company: (
    width: 109.09px,
    height: 98.793px,
    backgroundX: -2356px,
    backgroundY: -1851px),
  dashboard-signatures-contact: (
    width: 26.154px,
    height: 45.314px,
    backgroundX: -2466px,
    backgroundY: -1950px),
  dashboard-signatures-icon: (
    width: 78.651px,
    height: 75.072px,
    backgroundX: -2493px,
    backgroundY: -1996px),
  dashboard-signatures-personal: (
    width: 27.315px,
    height: 31.301px,
    backgroundX: -2572px,
    backgroundY: -2072px),
  dashboard-signatures-social: (
    width: 65.81px,
    height: 67.835px,
    backgroundX: -2600px,
    backgroundY: -2104px),
  dashboard-signatures-social-facebook: (
    width: 65.667px,
    height: 65.664px,
    backgroundX: -2666px,
    backgroundY: -2172px),
  dashboard-signatures-social-instagram: (
    width: 65.664px,
    height: 65.664px,
    backgroundX: -2732px,
    backgroundY: -2238px),
  dashboard-signatures-social-linkedin: (
    width: 65.665px,
    height: 65.667px,
    backgroundX: -2798px,
    backgroundY: -2304px),
  dashboard-signatures-social-tumbler: (
    width: 65.665px,
    height: 65.664px,
    backgroundX: -2864px,
    backgroundY: -2370px),
  dashboard-signatures-social-twitter: (
    width: 65.664px,
    height: 65.664px,
    backgroundX: -2930px,
    backgroundY: -2436px),
  dashboard-signatures-social-website: (
    width: 40.462px,
    height: 37.447px,
    backgroundX: -2996px,
    backgroundY: -2502px),
  dashboard-steps-send: (
    width: 134.317px,
    height: 90.107px,
    backgroundX: -3037px,
    backgroundY: -2540px),
  dashboard-steps-send-active: (
    width: 134.317px,
    height: 90.107px,
    backgroundX: -3172px,
    backgroundY: -2631px),
  dashboard-templates-back: (
    width: 28.983px,
    height: 42.418px,
    backgroundX: -3307px,
    backgroundY: -2722px),
  dashboard-templates-desktop: (
    width: 225.768px,
    height: 187.584px,
    backgroundX: -3336px,
    backgroundY: -2765px),
  dashboard-templates-icon: (
    width: 100.091px,
    height: 83.471px,
    backgroundX: -3562px,
    backgroundY: -2953px),
  dashboard-templates-icon-announcement: (
    width: 52.268px,
    height: 42.852px,
    backgroundX: -3663px,
    backgroundY: -3037px),
  dashboard-templates-icon-announcement-white: (
    width: 52.268px,
    height: 42.852px,
    backgroundX: -3716px,
    backgroundY: -3080px),
  dashboard-templates-icon-cart: (
    width: 48.286px,
    height: 34.807px,
    backgroundX: -3769px,
    backgroundY: -3123px),
  dashboard-templates-icon-cart-white: (
    width: 48.286px,
    height: 34.807px,
    backgroundX: -3818px,
    backgroundY: -3158px),
  dashboard-templates-icon-message: (
    width: 44.168px,
    height: 32.949px,
    backgroundX: -3867px,
    backgroundY: -3193px),
  dashboard-templates-icon-message-white: (
    width: 44.168px,
    height: 32.949px,
    backgroundX: -3912px,
    backgroundY: -3226px),
  dashboard-templates-icon-newsletter: (
    width: 64.957px,
    height: 82.898px,
    backgroundX: -3957px,
    backgroundY: -3259px),
  dashboard-templates-icon-newsletter-white: (
    width: 64.957px,
    height: 82.898px,
    backgroundX: -4022px,
    backgroundY: -3342px),
  dashboard-templates-icon-person: (
    width: 65.682px,
    height: 75.266px,
    backgroundX: -4087px,
    backgroundY: -3425px),
  dashboard-templates-icon-person-white: (
    width: 65.682px,
    height: 75.266px,
    backgroundX: -4153px,
    backgroundY: -3501px),
  dashboard-templates-icon-social: (
    width: 65.81px,
    height: 67.833px,
    backgroundX: -4219px,
    backgroundY: -3577px),
  dashboard-templates-icon-social-white: (
    width: 65.81px,
    height: 67.833px,
    backgroundX: -4285px,
    backgroundY: -3645px),
  dashboard-templates-phone: (
    width: 81.339px,
    height: 160.325px,
    backgroundX: -4351px,
    backgroundY: -3713px),
  dashboard-templates-recipients-icon: (
    width: 271.991px,
    height: 175.827px,
    backgroundX: -4433px,
    backgroundY: -3874px),
  dashboard-templates-recipients-tablet: (
    width: 157.925px,
    height: 204.989px,
    backgroundX: -4705px,
    backgroundY: -4050px),
  dashboard-templates-schedule-icon: (
    width: 97.74px,
    height: 97.735px,
    backgroundX: -4863px,
    backgroundY: -4255px),
  dashboard-templates-schedule-time: (
    width: 48.005px,
    height: 48.004px,
    backgroundX: -4961px,
    backgroundY: -4353px),
  dashboard-templates-send-icon: (
    width: 96.507px,
    height: 65.312px,
    backgroundX: -5010px,
    backgroundY: -4402px),
  dashboard-templates-star: (
    width: 24px,
    height: 24px,
    backgroundX: -5107px,
    backgroundY: -4468px),
  dashboard-templates-star-active: (
    width: 24px,
    height: 24px,
    backgroundX: -5131px,
    backgroundY: -4492px),
  dashboard-templates-tablet: (
    width: 208.989px,
    height: 161.925px,
    backgroundX: -5155px,
    backgroundY: -4516px),
  dashboard-templates-tick: (
    width: 41.629px,
    height: 29.463px,
    backgroundX: -5364px,
    backgroundY: -4678px),
  datepicker-arrow: (
    width: 16.751px,
    height: 27.242px,
    backgroundX: -5406px,
    backgroundY: -4708px),
  home-close: (
    width: 49.417px,
    height: 49.547px,
    backgroundX: -5423px,
    backgroundY: -4736px),
  home-pricing-tick: (
    width: 275.943px,
    height: 209px,
    backgroundX: -5473px,
    backgroundY: -4786px),
  home-social-facebook: (
    width: 65.667px,
    height: 65.664px,
    backgroundX: -5749px,
    backgroundY: -4995px),
  home-social-google: (
    width: 65.665px,
    height: 65.664px,
    backgroundX: -5815px,
    backgroundY: -5061px),
  home-social-instagram: (
    width: 65.664px,
    height: 65.664px,
    backgroundX: -5881px,
    backgroundY: -5127px),
  home-social-linkedin: (
    width: 65.665px,
    height: 65.667px,
    backgroundX: -5947px,
    backgroundY: -5193px),
  home-social-twitter: (
    width: 65.664px,
    height: 65.664px,
    backgroundX: -6013px,
    backgroundY: -5259px),
  home-steps-icon-document: (
    width: 64.957px,
    height: 82.898px,
    backgroundX: -6079px,
    backgroundY: -5325px),
  home-steps-icon-image: (
    width: 45.251px,
    height: 30.309px,
    backgroundX: -6144px,
    backgroundY: -5408px),
  home-steps-icon-pencil: (
    width: 41.135px,
    height: 38.845px,
    backgroundX: -6190px,
    backgroundY: -5439px),
  home-steps-icon-send: (
    width: 134.316px,
    height: 90.108px,
    backgroundX: -6232px,
    backgroundY: -5478px),
  home-templates-icon-announcement: (
    width: 52.268px,
    height: 42.852px,
    backgroundX: -6367px,
    backgroundY: -5569px),
  home-templates-icon-cart: (
    width: 48.286px,
    height: 34.807px,
    backgroundX: -6420px,
    backgroundY: -5612px),
  home-templates-icon-message: (
    width: 44.168px,
    height: 32.949px,
    backgroundX: -6469px,
    backgroundY: -5647px),
  home-templates-icon-newsletter: (
    width: 64.957px,
    height: 82.898px,
    backgroundX: -6514px,
    backgroundY: -5680px),
  home-templates-icon-person: (
    width: 65.682px,
    height: 75.266px,
    backgroundX: -6579px,
    backgroundY: -5763px),
  home-templates-icon-social: (
    width: 65.81px,
    height: 67.833px,
    backgroundX: -6645px,
    backgroundY: -5839px),
  home-top-arrow: (
    width: 42.4px,
    height: 29px,
    backgroundX: -6711px,
    backgroundY: -5907px),
  home-who-icon-bag: (
    width: 209.787px,
    height: 274.889px,
    backgroundX: -6754px,
    backgroundY: -5936px),
  home-who-icon-family: (
    width: 232.823px,
    height: 159.321px,
    backgroundX: -6964px,
    backgroundY: -6211px),
  home-who-icon-group: (
    width: 131.207px,
    height: 75.266px,
    backgroundX: -7197px,
    backgroundY: -6371px),
  home-who-icon-network: (
    width: 162.255px,
    height: 153.185px,
    backgroundX: -7329px,
    backgroundY: -6447px),
  home-who-icon-store: (
    width: 221.5px,
    height: 180.667px,
    backgroundX: -7492px,
    backgroundY: -6601px),
  home-who-icon-target: (
    width: 206.804px,
    height: 158.051px,
    backgroundX: -7714px,
    backgroundY: -6782px),
  icon-arrow-down-green: (
    width: 42.4px,
    height: 29px,
    backgroundX: -7921px,
    backgroundY: -6941px),
  icon-csv: (
    width: 23.866px,
    height: 18.885px,
    backgroundX: -7964px,
    backgroundY: -6970px),
  icon-group: (
    width: 111.975px,
    height: 71.795px,
    backgroundX: -7988px,
    backgroundY: -6989px),
  icon-person: (
    width: 79.467px,
    height: 91.062px,
    backgroundX: -8100px,
    backgroundY: -7061px),
  icon-plus-green-circle: (
    width: 45.333px,
    height: 45.333px,
    backgroundX: -8180px,
    backgroundY: -7153px),
  icon-search-green: (
    width: 70.544px,
    height: 82.734px,
    backgroundX: -8226px,
    backgroundY: -7199px),
  icon-search-purple: (
    width: 70.544px,
    height: 82.734px,
    backgroundX: -8297px,
    backgroundY: -7282px),
  icon-tick-green: (
    width: 41.629px,
    height: 29.463px,
    backgroundX: -8368px,
    backgroundY: -7365px),
  popup-close: (
    width: 60px,
    height: 60px,
    backgroundX: -8410px,
    backgroundY: -7395px),
  select-arrow: (
    width: 42.4px,
    height: 29px,
    backgroundX: -8470px,
    backgroundY: -7455px),
  table-action-edit: (
    width: 30.932px,
    height: 47.391px,
    backgroundX: -8513px,
    backgroundY: -7484px),
  table-action-remove: (
    width: 32.288px,
    height: 42.193px,
    backgroundX: -8544px,
    backgroundY: -7532px),
  table-pagination-arrow: (
    width: 16.747px,
    height: 27.24px,
    backgroundX: -8577px,
    backgroundY: -7575px),
  table-sort-arrow: (
    width: 32px,
    height: 32px,
    backgroundX: -8594px,
    backgroundY: -7603px),
  timepicker-arrow: (
    width: 27.242px,
    height: 16.751px,
    backgroundX: -8626px,
    backgroundY: -7635px),
);
