<div style="width: 100%; font-family: 'Lato', sans-serif">
  <img style="width: 100%; height: 400px; background-color: #7bc2c8;"
       customizable
       removable>

  <table style="width: 100%; height: 300px;" customizable removable>
    <tr>
      <td>
        <img style="display: block; width: 50%; height: 200px; margin: 0 auto; background-color: #7bc2c8;">
      </td>
    </tr>
  </table>

  <img src="http://thecatapi.com/api/images/get?format=src&type=jpg"
       style="display: block; width: 50%; height: 300px; margin: 20px auto;"
       customizable
       image-no-use
       removable>

  <div style="min-height: 300px; background-color: #fff; padding: 0 20%;">
    <p style="margin-top: 50px; color: #555;"
       customizable editable clonable removable>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>

    <p style="margin-top: 50px; color: #555;"
       customizable editable clonable removable multiline>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi aperiam asperiores at atque autem
      deserunt, dignissimos doloribus ea eum excepturi fugiat itaque laudantium quas quidem reprehenderit tempore ullam?
    </p>

    <p style="margin-top: 50px; color: #555;"
       customizable editable clonable removable max-length="50">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>

    <p style="margin-top: 50px; color: #555;"
       customizable editable clonable removable multiline max-length="10">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi aperiam asperiores at atque autem
      deserunt, dignissimos doloribus ea eum excepturi fugiat itaque laudantium quas quidem reprehenderit tempore ullam?
    </p>

    <a href="" customizable editable link-only>
      <img style="display: block; width: 200px; height: 50px; margin: 0 auto;">
    </a>

    <div style="text-align: center;">
      <a href="#"
         style="display: inline-block; margin-top: 50px; text-transform: uppercase; height: 40px; padding: 0 20px; background-color: #4cae4c; line-height: 40px; color: #fff; text-decoration: none;"
         customizable editable removable>Save my contacts</a>
    </div>
  </div>

  <div style="min-height: 300px; background-color: #f7f7f8;"></div>
</div>
