// TEMPLATES SENT

jibbar-dashboard-templates-sent {
}

.c-templates-sent {
}


  .c-templates-sent__recipients {
    margin-top: 5px;
  }

  .c-templates-sent__rate {
    margin-top: 7px;
  }

  .c-templates-sent__subject {
    margin-top: 10px;
    padding: 0 40px;
  }

    .c-templates-sent__big {
      font-size: 1.8125rem;
      font-weight: 900;
      line-height: 30px;
    }

    .c-templates-sent__bold {
      font-weight: 900;
    }


  .c-templates-sent__button {
    height: 40px;
    margin-top: 20px;
    padding: 0 23px;
  }
