jibbar-dashboard-static {
}

.c-static {
  padding: 60px 100px 30px;

  h1 {
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 3.0625rem;
    font-weight: 900;
    border-bottom: 2px solid #d6d6d6;
    color: #4d4d5d;
  }

  h2 {
    margin: 26px 0;
    font-size: 1.625rem;
    font-weight: 900;
    color: #697b97;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 28px;
    color: #4d4d5d;
  }

  p {
    margin-bottom: 30px;
    padding-right: 2%;
    font-size: 1.125rem;
    line-height: 28px;
    font-weight: 300;
    color: #4d4d5d;
  }

  a {
    color: #00aa92;
  }

  hr {
    margin: 30px 0;
    border-top: 2px solid #ccd2dc;
  }

  .c-static__big {
    max-width: 620px;
    margin: 0 auto;
    padding: 0;
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 39px;
    text-align: center;

    &--purple {
      color: #6d1d6b;
    }

    &--green {
      color: #00aa92;
    }
  }
}

  .c-static__content {
    padding-right: 7%;
  }